VITE_TEAM_NAME=Our Team
VITE_GRAPH_ALWAYS_SPIN=true
# Enable spotlight effect (mouse-following gradient background animation)
# Set to 'true' to enable, 'false' or omit to disable
VITE_ENABLE_SPOTLIGHT=false
