VITE_TEAM_NAME=Our Team
VITE_GRAPH_ALWAYS_SPIN=true
# Disable spotlight effect (mouse-following gradient background animation)
# Spotlight is enabled by default; set to 'false' to disable
# VITE_ENABLE_SPOTLIGHT=false
